# JWT Secrets
ACCESS_TOKEN_SECRET=your_jwt_secret_key
REFRESH_TOKEN_SECRET=your_jwt_secret_key

# Prisma PostgreSQL Database URL
DATABASE_URL=postgresql://username:password@localhost:5432/database_name?schema=public

# Redis URL
REDIS_URL=redis://localhost:6379

# bCrypt Salt Rounds
BCRYPT_SALT_ROUNDS=10

# CDN URL
CLOUDFLARE_CDN_URL=https://api.cloudflare.com/client/v4

# CDN API Token
CLOUDFLARE_API_TOKEN=xxx

# Cloudflare account id
CLOUDFLARE_ACCOUNT_ID=xxx