# JWT Secrets
ACCESS_TOKEN_SECRET=your_jwt_secret_key
REFRESH_TOKEN_SECRET=your_jwt_secret_key

# Prisma PostgreSQL Database URL
DATABASE_URL=postgresql://username:password@localhost:5432/database_name?schema=public

# Redis URL
REDIS_URL=redis://localhost:6379

# bCrypt Salt Rounds
BCRYPT_SALT_ROUNDS=10

# CDN API Token
CLOUDFLARE_API_TOKEN=xxx

# CDN API Key
CLOUDFLARE_API_KEY=xxx

# Cloudflare API Email
CLOUDFLARE_EMAIL=xxx

# Cloudflare account id
CLOUDFLARE_ACCOUNT_ID=xxx

CLOUDFLARE_R2_KEY_ID=xxx
CLOUDFLARE_R2_ACCESS_KEY=xxx
CLOUDFLARE_R2_URL=https://xxxx.r2.cloudflarestorage.com