@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

:root {
	--color-blurple: #7289da;
	--color-not-quite-black: #23272a;
	--color-dark: #2c2f33;
	--color-lighter-dark: #45494e;
	--color-full-white: #ffffff;
	--color-grey-white: #B9BBBE;
	--color-grey-dark: #242629;
	--color-actually-black: #000000;
	--color-fantastic-green: #00ae7a;
    --color-midnight-blue: #2C3E50;
    --color-bright-cyan: #00A8E8;
    --color-sublte-grey: #B0BEC5;
    --color-transparent: transparent;
}

* {
	margin: 0;
	padding: 0;
}

ul[class] {
	list-style: none;
}

button {
  font: inherit;
}

body {
	background: var(--color-full-white);
	font-family: "Open Sans", sans-serif;
	color: var(--color-full-white);
	min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.server-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    max-width: 20%;
    margin-left: 0;
    background-color: var(--color-sublte-grey);
}

.server-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: var(--color-midnight-blue);
}

.server-nav {  
    display: flex;
	width: 100%;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;

}
.server-nav::-webkit-scrollbar {
	display: none;
}

.application {
    justify-items: center;
    max-width: 70%;
}

.server-container {
    background: var(--color-transparent);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    gap: 1rem;
    box-sizing: border-box;
    z-index: 2;
    justify-content: center;
    overflow-x: auto;
    overflow-y: visible;

}
.server-container::-webkit-scrollbar {
	display: none;
}

.squircle {
	background: var(--color-midnight-blue);
	width: 48px;
	height: 48px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	transition: border-radius 128ms, background 128ms, color 128ms;
	display: flex;
	justify-content: center;
	align-items: center;
}
.squircle:hover {
	border-radius: 36%;
}
.squircle:hover::before {
	transform: translate(-100%, -50%) scale(.5);
} 
.squircle:hover .popper {
	opacity: 1;
	transform: translateY(-50%) scale(1);
}

.squircle::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--color-bright-cyan);
    position: absolute;
    border-radius: 5px;
    top: -50%;
    left: 100%;
    transform: translate(-50%, -100%) scale(0);
    transition: transform 180ms;
}


.server-icon:hover {
	background: var(--color-bright-cyan);
}

.divider {
	min-height: 100%;
	background: var(--color-full-white);
	width: 2px;
	border-radius: 1px;
	opacity: .06;
	transform: scale(.75);
}

.popper {
    position: relative;
    top: 5rem;
    transform: translateX(-50%) scale(0);
    background: var(--color-not-quite-black);
    color: var(--color-full-white);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    white-space: nowrap;
    text-align: center;
    opacity: 0;
    transition: opacity 128ms, transform 128ms;
    z-index: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 300%;
}

.popped {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.members-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background: var(--color-sublte-grey);
    border-radius: 5px;
    width: 15%;
    overflow-y: auto;
    overflow-x: hidden;
}
