@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

:root {
	--color-blurple: #7289da;
	--color-not-quite-black: #23272a;
	--color-dark: #2c2f33;
	--color-lighter-dark: #45494e;
	--color-full-white: #ffffff;
	--color-grey-white: #B9BBBE;
	--color-grey-dark: #242629;
	--color-actually-black: #000000;
	--color-fantastic-green: #00ae7a;
    --color-midnight-blue: #2C3E50;
    --color-bright-cyan: #00A8E8;
	--color-bright-cyan-darker: #00A3E3;
	--color-bright-cyan-darkerer: #009595;
    --color-sublte-grey: #B0BEC5;
    --color-transparent: transparent;
}

* {
	margin: 0;
	padding: 0;
}

ul[class] {
	list-style: none;
}

button {
  font: inherit;
  background: none;
    border: none;
}

a {
  text-decoration: none;
  color: var(--color-bright-cyan);
}